{% extends "layout.html" %}

{% set query = data['search'] or 'S10 4BG' %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'searchbymap'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Local land charge search results
        </h1>

        <img src="/public/images/searchbymap-results.png" alt="Search extent" style="height:300px">
        <figcaption  class="govuk-body-s">The dotted line shows the search area you searched</figcaption>

        <div class="govuk-!-padding-bottom-4"></div>

        <p>There are <b>2 local land charges</b> for your search area.</p>
        <p>Not the right area? <a href="search">Search again</a>.</p>


        <h2 class="govuk-heading-m">
          Planning
        </h2>


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Listed building
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
          <p class="govuk-body">Property type changed to commercial property. Approved subject to conditions.</p>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            <p> <b>Creation date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;04 May 2012</p>

          </div>
        </div>
        </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><b>Location</b></p>
          </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Minet Library, 52 Knatchbull Road, London SE5 9QY</p>
          </div>
        </div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body"><b>Originating authority</b></p>
        </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">	London Borough of Lambeth </p>
        </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
       <p class="govuk-body"><b>Authority Reference</b></p>
       </div>

      <div class="govuk-grid-column-two-thirds">
       <p class="govuk-body">	08/56391/FUL</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Registration date</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">12 March 2018</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Law</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Town and Country Planning Act 1990 Section 70</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Legal document</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">List</p>
      </div>
      </div>
    </div>

      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Conditional planning consent
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
          <p class="govuk-body">Loft Conversion involving the erection of 2x rear dormers and installation of 2x rear rooflights together at 'Flat B'.</p>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            <p> <b>Creation date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;27 July 2008</p>

          </div>
        </div>
        </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><b>Location</b></p>
          </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">109 Knatchbull Road, London SE5 9QY</p>
          </div>
        </div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body"><b>Originating authority</b></p>
        </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">	London Borough of Lambeth </p>
        </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
       <p class="govuk-body"><b>Authority Reference</b></p>
       </div>

      <div class="govuk-grid-column-two-thirds">
       <p class="govuk-body">	08/56391/FUL</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Registration date</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">08 May 2020</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Law</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Town and Country Planning Act 1990 (Amended)</p>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><b>Legal document</b></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Order</p>
      </div>
      </div>

      </div>
    </div>

      

      </div>
        </div>


      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Download an official search results for £15
          </h2>
          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Benefits of an official search
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class= "govuk-body-s">By purchasing an official search result from us, you’ll receive a document that:</p>
            <ul class="govuk-list govuk-list--bullet govuk-body-s">
              <li>is secure and digitally signed by HM Land Registry</li>
              <li>highlights local land charge boundaries on a map</li>
              <li>enables you to get free, repeat searches for 6 months</li>
  <li>includes a link to the source information</li>
            </ul>
            <img src="/public/images/v11.gif" alt="Example official copy of local land charges" style="margin-left: 65px;">
            <figcaption  class="govuk-body-s"><a href=""<a href='/public/images/Exampleofficialsearch.pdf' download='EXAMPLE-official-local-land-charge-search.pdf'>Example official search results document</a></figcaption>

        </details>
        <button class="govuk-button" data-module="govuk-button" style="width:100%" onclick="window.location.href='singleaddress02.html'">
          Pay now
        </button>
        </aside>

      </div>
    </div>
{% endblock %}
