{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: [
            {
              text: error,
              href: '#search-error'
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
  Check if an area is available on  the register
</h1>

<p class="govuk-body-m">Before you can find a local land charge, first you need to identify a property or area of land. This is known as an extent area.</p>
<div class="govuk-inset-text">
  Not all areas are available on our register yet. If you cannot find an area, contact your local authority for information about local land charges.
</div>

      <form method="post">

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
          Search by postcode or street name
        </h2>
        <div class="govuk-form-group">
          <div id="event-name-hint" class="govuk-hint">
            For example, ‘SW1A 2AA’ or ‘High Street’
          </div>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

          <p class="govuk-body-m">By starting a search you agree to our <a href="#0">terms of use</a>. For further information about the service see <a href="#0">Practice Guide 79</a>.</p>

          {{ govukButton({
            text: 'Search',
            href: 'notavailable'
          }) }}

        {# <h2 class="govuk-heading-m govuk-!-margin-top-3">
          Other ways to find a charge
        </h2>
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="#0">Search by browsing to a place using a map</a></li>
          <li>Contact us on 0300 006 0444 if you are struggling to use this service</li>
        </ul> #}

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16" style="margin-right:-20px";>
            <li>
              <a href="#0">
                Differences between free and paid searches
              </a>
            </li>
            <li>
              <a href="#">
                Environmental Information Regulations 2004
              </a>
            </li>
            <li>
              <a href="#">
                Contact HM Land Registry
              </a>
            </li>
            <li>
              <a href="#">
                Find out when your local authority will be migrated to this service
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
