{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">Extent is not on register</h1>
      <p class="govuk-body-m"> To find charges for this area contact your <a href='#0'>Local Authority. </a> </p>
      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='search.html'">Search again</button>
      <p class="govuk-body-m"> <a href="editextent_no.html">Edit extent area </a></p>



    </div>

    <div class="govuk-grid-column-two-thirds">
      <img src="/public/images/mapkey.png" alt="Map key" style="width:100%">
      {# <img src="/public/images/mapdialogue.png" alt="Confirm extent" style="width:100%"> #}
      <img src="/public/images/fullmapview04.png" alt="Confirm extent" style="width:100%">




    </div>


  </div>
{% endblock %}
