{% extends "layout.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Practice guides</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Local land charges (PG79)</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-column-one-third">
  {# <img src="/public/images/mapdialogue.png" alt="Confirm extent" style="width:100%"> #}
  <img src="/public/images/logo.png" alt="HM Land Registry logo" style="margin-left: -30px;">

</div>

<div class="govuk-grid-column-full">

  <img src="/public/images/panel.png" alt="Panel" style="margin-left: -30px;">

</div>




{% endblock %}
