{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: [
            {
              text: error,
              href: '#search-error'
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
  Identify a search area
</h1>

<p class="govuk-body-m">To view a local land charge, you will need to identify a property or area of land. We call this a search area.
</p>

<div class="govuk-inset-text">
  Not all search areas are available on our register. If you cannot find a search area, contact your local authority.
</div>

      <form method="post">

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
          Search by postcode or street name
        </h2>
        <div class="govuk-form-group">
          <div id="event-name-hint" class="govuk-hint">
            For example, ‘SW1A 2AA’ or ‘High Street’
          </div>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

<p class="govuk-body-m">By starting a search you agree to our <a href="#0">terms of use</a>. For further information about the service see <a href="practice-guide">Practice Guide 79</a>.</p>

          {{ govukButton({
            text: 'Search',
            href: 'results'
          }) }}
        {# <h2 class="govuk-heading-m govuk-!-margin-top-3">
          Other ways to find a search area
        </h2>
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="#0">Search by browsing to a place using a map</a></li>
          <li>Contact us on 0300 006 0444 if you are struggling to use this service</li>
        </ul> #}

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Other ways to find a search area
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
            <li><a href="searchbymap">Search by map</a></li>
            <li><a href="search-by-title-number">Search by title number</a></li>
            <li>Contact HM Land Registry on <b>0300 006 0444</b> if you are struggling to use this service</li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
