{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  <a href="results" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">Confirm search area</h1>
      <p class="govuk-body-m">The dotted line shows the approximate search area of your search. If this is correct, click ‘Confirm extent’.</p>
        <p class="govuk-body-m"> You can also <a href="#0">edit the search area</a>.</p>
      <div class="govuk-inset-text">
  This search area is near a local authority’s boundary, not available on the register yet.<br> <br> Your results will not include any charges for this authority.
</div>



      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='sign-in38.html'">Confirm extent</button>




    </div>

    <div class="govuk-grid-column-two-thirds">
      {# <img src="/public/images/mapdialogue.png" alt="Confirm extent" style="width:100%"> #}
      <img src="/public/images/boundarywarning.png" alt="Extent 38 Knatchbull Road" style="width:100%">




    </div>


  </div>
{% endblock %}
