{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">Confirm extent area for “75 Knatchbull Road, SE5 9QY”</h1>
      <p class="govuk-body-m"> If the extent area shown is correct, select ‘Confirm extent’. </p>
      <p class="govuk-body-m"> You can also edit the extent area if this is incorrect. </p>

      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='sign-in.html'">Confirm extent</button>
      <p class="govuk-body-m"> <a href="editextent.html">Edit extent area </a></p>



    </div>

    <div class="govuk-grid-column-two-thirds">
      <img src="/public/images/mapkey.png" alt="Map key" style="width:100%">
      {# <img src="/public/images/mapdialogue.png" alt="Confirm extent" style="width:100%"> #}
      <img src="/public/images/fullmapview02.png" alt="Confirm extent" style="width:100%">




    </div>


  </div>
{% endblock %}
