{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">
            Is there a single address for your search area?
          </h2>
      </div>

<div class="govuk-grid-column-full" style="width:800px;">
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You can't change your search area after you've paid. This will be used on your search results, to describe what you have searched.
  </strong>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
    <div class="govuk-input__suffix" aria-hidden="true">Search</div>
  </div>
</div>
</div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
      Describe the area you have searched
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    For example, ‘flats 1-5 Church lane’ or ‘Land to the north of the bypass’.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
  <div id="more-detail-hint" class="govuk-hint">
    Answer must be shorter than 1000 characters (about 160 words).
  </div>
</div>

      </div>

<div class="govuk-!-padding-bottom-4"></div>

<p class="govuk-body-m">Your payment will be processed by our payment service provider, WorldPay, through GOV UK Pay. You should refer to the Privacy Notices of those organisations for details of how your personal data is used.</p

<div class="govuk-!-padding-bottom-7"></div>

        <button class="govuk-button" data-module="govuk-button" onclick="window.location.href='/search/end-to-end/confirm-extent-first/paynow'">
        Continue
        </button>
      </div>



        </div>

      </div>
    </main>
  </div>
{% endblock %}
