<div class="govuk-grid-column-one-third">

  <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">
      Design resources
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://llc-prototypes.herokuapp.com{{feature}}">
            Heroku app (opens in new tab)
          </a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://github.com/LandRegistry/local-land-charges-prototypes">
            GitHub repo (opens in new tab)
          </a>
        </li>
      </ul>
    </nav>
  </aside>

</div>
