{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        What do you want to do?
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Manage migration data
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Process scanned images</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Manage migration data</a></li>
      </ul>

    

    </div>
  </div>
{% endblock %}
