// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/autocomplete";
@import "components/org-switcher";
@import "components/buttons";
@import "components/lang-switcher";

// Product specific styles
@import "maintain";

// Helper classses
.text-align-right {
  text-align: right;
}

.float-right {
  float: right;
}




// Hide the OGL licence
.govuk-footer__licence-logo,
.govuk-footer__licence-description {
  display: none;
}

// Remove margin so links line up now we've removed the OLG
.govuk-footer__inline-list,
.govuk-footer__inline-list-item {
  margin-bottom: 0;
}





// Move sign out link to top right
.govuk-header__navigation {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
