{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'results'
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Practice guides</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Local land charges (PG79)</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-column-one-third">
  <img src="/public/images/logo.png" alt="HM Land Registry logo" style="margin-left: -30px;">

</div>

<div class="govuk-grid-column-full">

  <img src="/public/images/panel.png" alt="Panel" style="margin-left: -30px;">

</div>

<div class="govuk-grid-column-one-quarter">
  <img src="/public/images/Menu.png" alt="menu" style="margin-left: -30px;">

</div>

<div class="govuk-grid-column-three-quarters">
  <div class="govuk-inset-text">
Please note that HM Land Registry’s practice guides are aimed primarily at solicitors and other conveyancers. They often deal with complex matters and use legal terms.</div>

<h1 class="govuk-heading-l">1. Introduction</h1>
<h2 class="govuk-heading-m">1.1 Background to local land charges</h2>
<p class="govuk-body">Local land charges are generally financial charges or restrictions on the use of land which are governmental in character and imposed by public authorities under statutory powers, otherwise known as originating authorities. They affect whoever owns the land and so there is an obligation that they are registered, to alert purchasers to their existence. Their existence would not normally be apparent from an inspection of land or from the register of title (or title deeds if the land is still unregistered land). </p>

<p class="govuk-body">If a local land charge is not registered, it will still affect a purchaser in just the same way as it affected the original owner. However, if a purchaser makes an official or personal search before they purchase, they will generally be entitled to compensation for the loss they suffer in consequence of the failure of the search to reveal a local land charge that was in existence at the time that the search was made.</p>
<p class="govuk-body">Common types of local land charges include (but are not limited to):</p>

<ul class="govuk-list govuk-list--bullet">
  <li>conditions imposed in a planning permission (these form the majority of charges)</li>
  <li>listed buildings</li>
  <li>conservation areas</li>
  <li>tree preservation orders</li>
  <li>planning and enforcement notices</li>
  <li>smoke control orders</li>
  <li>light obstruction notices</li>
</ul>

<h2 class="govuk-heading-m">1.2 When to make an application to HM Land Registry</h2>
<p class="govuk-body">Before Parts 1 and 3 of Schedule 5 to the Infrastructure Act 2015 come into effect in relation to the area of a local authority, the relevant local authority is under a duty to keep the local land charges register for their local authority area. The Infrastructure Act 2015 allows for the Chief Land Registrar (“the registrar”) to incrementally assume the local land charges statutory function by giving notice to a particular local authority specifying a date when the registrar will become responsible for local land charges in relation to the area of that local authority. </p>

<p class="govuk-body">The service of notice will be phased, beginning in the summer of 2018, meaning that it will remain necessary to apply to the relevant local authority to make a search or to apply to register, vary or cancel a charge, until the registrar has become responsible for local land charges for the local authority area in which the relevant land falls. If a charge or search affects land partly in an area for which the registrar is the registering authority and partly an area for which it is not, then separate applications will need to be made to the relevant local authority and the registrar – which, in practice, means HM Land Registry.</p>
<p class="govuk-body">You can check whether the registrar is responsible for local land charges for <a href="#" class="govuk-link">a particular local authority area</a>.</p>

<h2 class="govuk-heading-m">1.3 What HM Land Registry will provide</h2>
<p class="govuk-body">HM Land Registry will keep the Local Land Charges Register for those areas where Parts 1 and 3 of Schedule 5 to the Infrastructure Act 2015 have come into effect (<a href="#" class="govuk-link">see section 1.2</a>. Where a local land charge affects land in such an area, the originating authority will need to apply to HM Land Registry to register a charge and the person by whom a charge is, or was last enforceable, must apply to vary or cancel local land charges, using the methods detailed in <a href="#" class="govuk-link">section 2</a>.
 </p>
 <p class="govuk-body">Customers will need to apply to HM Land Registry for an official search or to carry out a personal search, of the register, where the land in respect of which the search is required is within such an area, using the methods detailed in <a href="#" class="govuk-link">section 3</a>.</p>

 <h1 class="govuk-heading-l">2. Originating authorities</h1>
 <h2 class="govuk-heading-m">2.1 Application to register a local land charge</h2>
 <h2 class="govuk-heading-s">2.1.1 Who should make the application</h2>
 <p class="govuk-body">The ‘originating authority’, in respect to a local land charge, means the Minister of the Crown, government department, local authority or other person by whom the charge is brought into existence or by whom, on its coming into existence, the charge is enforceable.
  </p>
  <p class="govuk-body">It is the responsibility of the originating authority as respects a local land charge to apply to register that charge. Application to register a charge should be made as soon as possible, as HM Land Registry will be able to recover compensation from the relevant originating authority that the registrar is obliged to pay under section 10 of the Local Land Charges Act 1975, unless an application was made by that originating authority for registration of the charge in time for it to be practicable HM Land Registry to avoid incurring liability to pay the compensation.
  </p>

  <h2 class="govuk-heading-s">2.1.2 How to make an application</h2>
  <p class="govuk-body">The Local Land Charges Rules 2018 require an application for registration of a charge (other than a light obstruction notice) to be made using an electronic means of communication. The Local Land Charges Rules 2018 allow for HM Land Registry to determine the electronic means of communication to be used for making applications and the form of any such application.
   </p>
   <p class="govuk-body">Check whether the registrar is the registering authority for the local authority area in which your charge falls. This can also be done before registering a charge using the Local Land Charges service. If the registrar is not the registering authority, do not apply to register the charge with us. Instead, the charge should be registered in the relevant local authority’s local land charges register.
   </p>

   <p class="govuk-body">To make an application, you can either: </p>
   <ul class="govuk-list govuk-list--bullet">
    <li>use the Local Land Charges ‘Maintain’ service</li>
     <li>use an Application Programming Interface (API) to apply to register the charge automatically</li>
   </ul>

   <p class="govuk-body">Local authorities will have been assigned an ‘Admin User’ for the Local Land Charges service on GOV.UK, who will manage accounts within their organisation and should be the contact point in the first instance. As well as the local authority, we will identify, and contact other originating authorities likely to regularly make applications to provide access to the register service.
   </p>

   <p class="govuk-body">If you require access, or have access problems, contact HM Land Registry: see section 9 for details. The Local Land Charges Rules 2018 also allow the registrar to permit applications to be made by an electronic means other than through the Local Land Charges service in certain circumstances and this is explained in section 2.5.
   </p>

   <p class="govuk-body">Any application to register, vary or cancel a Light Obstruction Notice (LON) should be made in accordance with section 2.6 of this guidance.
   </p>

   <p class="govuk-body">HM Land Registry cannot provide legal advice as to whether a charge is a local land charge.
   </p>

   <h2 class="govuk-heading-m">2.2 Application to vary a local land charge</h2>

   <p class="govuk-body">Where a registered charge has been varied or any registration is incorrect, the person by whom the charge is enforceable must apply for the variation of the registration. To make an application, use the Local Land Charges service on GOV.UK or the API. If a property owner or their conveyancer considers that a registration should be varied, they should contact the person by whom the charge is enforceable so that person can make an application for the charge to be varied.  </p>

   <p class="govuk-body">The registrar may vary a registration of their own motion. However, most registrations will only be varied as a result of an application by the person entitled to enforce the charge. It will generally only be this person who will hold the information necessary to establish if a registered charge has been varied or whether a registration is incorrect. The registrar is only likely to vary a registration of their own motion where, very exceptionally, for one reason or another (for example, the person entitled to enforce the charge not being identifiable), it would not be practicable to insist on an application for variation being made by that person.</p>

   <h2 class="govuk-heading-m">2.3 Application to cancel a local land charge</h2>

   <p class="govuk-body">When a registered charge has been discharged, ceased to have effect or ceased to be a charge, the person by whom the charge was enforceable must apply for the cancellation of the registration. To make an application, use the Local Land Charges service on GOV.UK, or the API.
   </p>

   <p class="govuk-body">If a person considers that a registration should be cancelled, they should contact the person by whom the charge was enforceable, usually the originating authority, so that they can make an application for the charge to be cancelled.
   </p>

   <p class="govuk-body">The registrar may cancel a registration of their own motion but is only likely to do so in the same exceptional circumstances in which a registration would be varied; <a href="#" class="govuk-link">see section 2.2</a>. </p>

   <h2 class="govuk-heading-m">2.4 Applications to cancel a local land charge pursuant to a court order</h2>

   <p class="govuk-body">If the court has made an order for the cancellation of a local land charge, send a copy of that order either:
   </p>

   <ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link">by using our contact form</a></li>
     <li><a href="#" class="govuk-link">by post</a></li>
   </ul>

   <h2 class="govuk-heading-m">2.5 Originating authorities who do not have access to the Local Land Charges service</h2>

   <p class="govuk-body">If you are an originating authority that does not have access to the Local Land Charges service on GOV.UK or the API, contact us:
    </p>

   <ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link">by using our contact form</a></li>
     <li><a href="#" class="govuk-link">by phone</a></li>
   </ul>

   <p class="govuk-body">We will be able to arrange for access, or for approval to be given for your application to be made by an alternative electronic means of application. It will often be possible to arrange for access to be given without delay but if it cannot for any reason, in some instances you may ask HM Land Registry to permit application to be made by an alternative electronic means.
   </p>

   <p class="govuk-body">These circumstances may include but are not limited to:</p>

   <ol class="govuk-list govuk-list--number">
    <li>If an originating authority has not yet been able to arrange access to the Local Land Charges service on GOV.UK or the API, and needs to register a charge whilst waiting for access to be arranged.</li>
     <li>If an originating authority or person by whom a charge is or was last enforceable wishes to apply to register a charge, or to vary or cancel a registration, but is unlikely to need to regularly make further applications.</li>
   </ol>

   <h2 class="govuk-heading-m">2.6 Light Obstruction Notices</h2>
   <h2 class="govuk-heading-s">2.6.1 Registration of a Light Obstruction Notice</h2>

   <p class="govuk-body">The registration of a Light Obstruction Notice (LON) acts as a notional obstruction of the light passing to a neighbour’s building over land of the person registering the charge. The effect is that, unless the building already benefits from an easement of light, the passage of light is treated as being interrupted; and if that registration continues for a year, then the neighbour is effectively prevented from acquiring a right to light by prescription. LONs are therefore different in many respects from other local land charges.</p>

  <p class="govuk-body">We will only be able to register a LON that relates to land falling within a local authority area for which the registrar is the registering authority.
  </p>

  <p class="govuk-body">A LON will only take effect as a local land charge when it is registered.
  </p>

  <p class="govuk-body">To apply to register a LON, you can either:</p>

  <ul class="govuk-list govuk-list--bullet">
   <li>send a paper application <a href="#" class="govuk-link">by post</a>, with copies of the required documents</li>
    <li><a href="#" class="govuk-link">use our contact form</a>, with scanned images of the required documents</li>
  </ul>

  <p class="govuk-body">Application to register a LON must be made in Form A with an attached colour plan showing the building against which the notice is to be registered, accompanied by a copy of the certificate issued by the Upper Tribunal. If the application is being sent using our contact form, it will be necessary to scan a completed Form A and attached colour plan, and the Upper Tribunal certificate, and send the images as attachments. Form A is set out in Schedule 2 to the Local Land Charges Rules 2018.</p>

    <p class="govuk-body">A fee is payable for this application. See our fees guide for further information.</p>

    <p class="govuk-body">Under rule 11 of the Local Land Charges Rules 2018, HM Land Registry may destroy any paper documents, including original documents, which relates to a registration or to an application or requisition and will retain a copy in electronic format. Original documents should not, therefore, be sent with a LON application.
    </p>

    <p class="govuk-body">Remember to include all the following, or your application will be rejected:  </p>

    <ul class="govuk-list govuk-list--bullet">
     <li>fully completed Form A</li>
      <li>colour plan showing the building against which the notice is to be registered</li>
      <li>copy of the certificate issued by the Upper Tribunal</li>
      <li>fee</li>
    </ul>

    <h2 class="govuk-heading-s">2.6.2 Variation or cancellation of the registration of a light obstruction notice under rule 7(1) of the principal Rules</h2>

    <p class="govuk-body">The person who applied to register the LON, or their successor in title to the land over which the light passes, can apply within a year of registration for the registered particulars to be varied (for example, the position of the notional obstructing structure to be changed) or for the registration to be cancelled.
    </p>

    <p class="govuk-body">To apply to register the variation or cancellation of a LON, you can either:</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>send a paper application by post, with copies of the required documents</li>
      <li>use our contact form, with scanned images of the required documents</li>
    </ul>

    <p class="govuk-body">We will only be able to process an application that relates to land falling within a local authority area for which the registrar is the registering authority.
    </p>

    <p class="govuk-body">A fee is payable for this application. See our fees guide for further information.  </p>

    <p class="govuk-body">Under rule 11 of the Local Land Charges Rules 2018, HM Land Registry may destroy any paper documents, including original documents, which relates to a registration or to an application or requisition and will keep a copy in electronic format. Original documents should not, therefore, be sent with your application.</p>

    <p class="govuk-body">Remember to include the following, or your application will be rejected:</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>fully completed Form B (Form B is set out in Schedule 2 to the Local Land Charges Rules 2018)</li>
      <li>fee</li>
    </ul>

    <h2 class="govuk-heading-s">2.6.3 Variation of the registration of light obstruction notice under rule 7(6) of the principal Rules (definitive certificate lodged)</h2>

    <p class="govuk-body">Where a LON was registered on the basis of a temporary certificate from the Upper Tribunal and, before the expiry of the period for which the temporary certificate expires, an application to vary the original registration can be lodged either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
     <li>by post, with a copy of the definitive certificate</li>
      <li>using our contact form, with scanned images of the definitive certificate</li>
    </ul>

    <p class="govuk-body">A fee is payable for this application. See our fees guide for further information.</p>
    <p class="govuk-body">The registrar will vary the registration accordingly. No Form B is necessary for applications made under rule 7(6).</p>

    <h2 class="govuk-heading-s">2.6.4 Variation or cancellation of the registration of a light obstruction notice pursuant to an on order of the court under section 3(5) of the Rights of Light Act 1959</h2>

    <p class="govuk-body">If the court has made an order directing the variation or cancellation of the registration of a light obstruction notice under section 3(5) of the Rights of Light Act 1959 , send an official copy of that order either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
       <li><a href="#" class="govuk-link">by using our contact form</a></li>
        <li><a href="#" class="govuk-link">by post</a></li>
      </ul>
    </ul>

    <p class="govuk-body">No fee is payable to lodge a copy of such an order.</p>



    <h1 class="govuk-heading-l">3. Searching the Local Land Charges Register</h1>

    <p class="govuk-body">It is possible to requisition for an official search of the register or to apply to search in the register (to make a personal search). The requisition or application must be made using the electronic means of communication determined by the registrar and in the form determined by the registrar.
    </p>
    <p class="govuk-body">If the land identified in respect of which the search is to be made includes land for which the registrar is not the registering authority, a warning message will be shown and you will need to apply to the relevant local authority.
    </p>

    <h2 class="govuk-heading-m">Difference in the information that an official search will provide relative to a personal search</h2>

    <p class="govuk-body"><b>What the service offers</b><br>For an official search (£15) or a personal search (free), you get:
</p>

<ul class="govuk-list govuk-list--bullet">
  <ul class="govuk-list govuk-list--bullet">
   <li>the description of the local land charge</li>
    <li>the registration date (this is when the charge was added to the register)</li>
    <li>details of the authority that can answer questions about this local land charge</li>
  </ul>
</ul>




      <p class="govuk-body">For an official search (£15), you also get:</p>
      <ul class="govuk-list govuk-list--bullet">
        <ul class="govuk-list govuk-list--bullet">
         <li>an official search certificate, which is secure (tamper-proof), digitally signed and guaranteed by HM Land Registry, ensuring authenticity</li>
          <li>an electronic link to the place where the document is available for inspection, if this link has been provided by the originating authority</li>
          <li>the local land charge boundary, showing where a charge starts and stops</li>
          <li>for 6 months, each search will:</li>
          <ul class="govuk-list govuk-list--bullet">
           <li>have unlimited downloads of official certificate</li>
            <li>have unlimited repeat official searches to check for new charges before completing a transaction</li>
            <li>be available to download in multiple formats (PDF, JSON, CSV, XML)</li>
            <li>have a search history dashboard</li>
            <li>show active and lapsed searches</li>
          </ul>
        </ul>


<h2 class="govuk-heading-m">3.1 Official search</h2>

<p class="govuk-body">An application for an official search can be made via the HM Land Registry portal, or Business Gateway, or the Local Land Charges service on GOV.UK. If you already use HM Land Registry portal or Business Gateway, the option to purchase an official Local Land Charges search is available via these channels. If you do not use these services and would like to sign up, contact HM Land Registry: see section 9 for details.
</p>

<p class="govuk-body">Rule 10 of the Local Land Charges Rules 2018 requires that the applicant should identify the land in respect of which the search is to be made. You will be prompted to do this when making a search and this can be done by one of the following options.
</p>

<ol class="govuk-list govuk-list--number">
 <li>Stating the postal address of the land – if the land is registered, the extent of the registered title will be shown. You should check the search area shown correctly reflects the area to be searched against. This can be changed manually if necessary.</li>
  <li>Using the map to draw the area of the land to be searched against.</li>
</ol>

<p class="govuk-body">If you are using the HM Land Registry portal, you can also identify the land in respect of which the search is to be made by entering the title number, if the land is registered. This can be changed manually if necessary. If the land is unregistered, one of the options listed above should be used.
</p>

<p class="govuk-body">Once a search has been completed and a result issued, it will not be possible to change the search area.</p>

<p class="govuk-body">A fee is payable for this application. See our fees guide for further information.
</p>

<h2 class="govuk-heading-m">3.2 Personal search</h2>

<p class="govuk-body">To make an application to search in the register use the Local Land Charges service on GOV.UK. You will be able to view on screen all the details of registration for charges that affect the land you are searching, but will not have access to additional features of the official search.
</p>

<p class="govuk-body">Rule 9 of the Local Land Charges Rules 2018 requires that the applicant should identify the land in respect of which the search is to be made. You will be prompted to do this when making a search and this can be done by one of the following options.
</p>

<ol class="govuk-list govuk-list--number">
 <li>Stating the postal address of the land – if the land is registered, the extent of the registered title will be shown. You should check the search area shown correctly reflects the area to be searched against. This can be changed manually if necessary.</li>
  <li>Using the map to draw the area of the land to be searched against.</li>
</ol>

<p class="govuk-body">There is no fee payable to apply for these documents. See our fees guide for further information.</p>

<h2 class="govuk-heading-m">3.3 Size of a search area</h2>

<p class="govuk-body">The area of the land that may be searched by one application, whether the application is for an official search or a personal search, is not restricted to a single parcel of land.
</p>

<p class="govuk-body">In almost all instances, it will be possible for a single application to be made for a search of all the land which is the subject of an intended purchase. However, it will not be possible for a search to proceed where the extent of the land identified would result in such an exceptionally large number of registrations being revealed that proceeding with the application could prejudice the operation of the service.
</p>

<p class="govuk-body">In such circumstances, it will be necessary to reduce the extent of the land identified and to make more than one application. Applicants will be informed if the search area will be too great once they have identified in their application the land against which the search is to be carried out: the application will not be allowed to proceed any further.
</p>

<h1 class="govuk-heading-l">4. The Environmental Information Regulations 2004</h1>

<p class="govuk-body">The most straightforward way to access information under the Environmental Information Regulations 2004 is by conducting an online personal search (see section 3.2). The information will be provided to view on screen instantly and free of charge.
</p>

<p class="govuk-body">If you are unable to use the online personal search service, contact us with your request, which does not need to be in writing. The Environmental Information Regulations 2004 allow up to 20 working days for a response to be issued.
</p>

<p class="govuk-body">When submitting your request, you must supply one of the following:
</p>

<ul class="govuk-list govuk-list--bullet">
 <li>an HM Land Registry title number (if you have it)</li>
  <li>postal address (if available)</li>
  <li>a plan to enable the search area to be identified</li>
</ul>

<p class="govuk-body">You should also include your contact details, as we may need further information if the land that your request relates to cannot be clearly identified.
</p>

<h1 class="govuk-heading-l">5. More information about charges or copies of documents</h1>

<p class="govuk-body">Each registration includes details of the originating authority for the charge and contact details for the authority that can answer questions about the charge.
</p>

<p class="govuk-body">Any queries relating to charges should be directed to the originating authority, as they will have the information to assist.
</p>

<p class="govuk-body">If you require a copy of a document relating to a charge (other than a document kept by HM Land Registry; see section 6), you will need to contact the originating authority. The registration will state who the originating authority is and where you can get more information about the charge, using the contact details provided.
</p>

<h1 class="govuk-heading-l">6. Get copies of documents kept by HM Land Registry</h1>

<p class="govuk-body">You may apply for a copy of any document which is listed as being kept by the registrar in the particulars of registration for a light obstruction notice or any court order or item of correspondence kept by the registrar which relates to a registration.
</p>

<p class="govuk-body">To get a copy of a document held by HM Land Registry, you must use our contact form with the:</p>

<ul class="govuk-list govuk-list--bullet">
 <li>HM Land Registry reference which is shown on search results (if available)</li>
  <li>document type</li>
  <li>date of the document</li>
</ul>

<p class="govuk-body">You will receive a copy of the document by email.</p>

<p class="govuk-body">There is no fee payable to apply for these documents. See our fees guide for further information.</p>

<h1 class="govuk-heading-l">7. What to do if you think there is a mistake in a registration, or on a search result</h1>

<p class="govuk-body">You should contact the relevant originating authority to discuss the query using the contact details for the authority that can answer questions about the charge as shown on each registration. Following their investigation, they may be able to resolve the issue by making an application to HM Land Registry to vary or cancel the charge.
</p>

<p class="govuk-body">If your search has been provided by a personal search company, contact them in the first instance as they may be able to provide assistance.
</p>

<p class="govuk-body">In very limited circumstances, under rule 6 of the Land Registration Rules 2018, the Registrar may, of their own motion, vary or cancel a registration. See section 2.2 and section 2.3.
</p>

<h1 class="govuk-heading-l">8. Compensation</h1>

<p class="govuk-body">A purchaser of land will generally be entitled to compensation under section 10 of the Local Land Charges Act 1975 for any loss suffered in consequence if a material official or personal search was made before the relevant time and if the search or official search certificate failed to reveal a local land charge that was in existence at the time that the search was made.
</p>

<p class="govuk-body">For the purpose of section 10, a person purchases land where, for valuable consideration, he or she acquires any interest in the land including where the acquisition is as lessee or mortgagee.
</p>

<p class="govuk-body">A search will be material if it was made (or requisitioned for in the case of an official search) by or on behalf of the purchaser or, before the relevant time, the purchaser or his agent has knowledge of the result of the search or the contents of the official search certificate.
</p>

<p class="govuk-body">The relevant time will usually be the time when the contract for the acquisition of the interest was made or (if there is no such contract) the date of the transfer, conveyance, lease, mortgage or other means by which the interest in question was acquired.
</p>

<p class="govuk-body">Any claim for compensation must be made in writing. The following information must accompany any such claim:
</p>

<ul class="govuk-list govuk-list--bullet">
 <li>details of the search that was undertaken and (in the case of an official search) a copy of the relevant official search certificate</li>
  <li>the date when the search was undertaken</li>
  <li>a description of the interest purchased in reliance on the search</li>
  <li>details of the charge that it is claimed was in existence at the time that the search was made but not revealed</li>
  <li>details of the loss claimed to have been suffered in consequence</li>
</ul>

<h1 class="govuk-heading-l">9. Things to remember</h1>

<p class="govuk-body">Check to see whether the registrar is the registering authority for the local authority area in which the relevant land falls. If not, you will need to make an application to the relevant local authority, not to HM Land Registry.
</p>

<p class="govuk-body">Documents that comprise or constitute the local land charge will generally be held by the originating authority, not by HM Land Registry.
</p>

<p class="govuk-body">If you think that a registration is incorrect or that a charge should be cancelled, contact the relevant originating authority, so that they may apply to HM Land Registry to vary or cancel the registration.
</p>

<p class="govuk-body">To apply for an official search, use the HM Land Registry portal, Business Gateway or the Local Land Charges service on GOV.UK.
</p>

<p class="govuk-body">To apply for a personal search, use the Local Land Charges service on GOV.UK.</p>

<p class="govuk-body">This guidance relates to the local land charges search only. CON29 enquiries should still be made to the relevant local authority.
</p>

<p class="govuk-body">We only provide factual information and impartial advice about our procedures. Read more about the advice we give.
</p>

<h1 class="govuk-heading-l">10. Contact</h1>

<p class="govuk-body">If you have a question about local land charges applications and services, contact us.</p>

<div class="govuk-inset-text">
  HMLR Local Land Charges <br>
<br>
Processing Team <br>
PO Box 326 <br>
Mitcheldean <br>
GL14 9BQ <br>
<br>
Contact form https://help.landregis... <br>
<br>
Phone 0300 006 0444

</div>

<p class="govuk-body">If you want to get access to our portal or Business Gateway, find out more and apply to use our Business e-services.</p>

<p class="govuk-body">If you have an enquiry about variable direct debit, contact the accounts department:
</p>

<ul class="govuk-list govuk-list--bullet">
 <li>phone 0300 006 6690</li>
  <li>email creditaccounts@landregistry.gov.uk</li>
</ul>






{% endblock %}
