{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
	  items: [
	    {
	      text: "LLC prototypes",
	      href: "/"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Search prototypes
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">Search is a public facing service that allows users to search an area for local land charges.</p>

      <p>Anyone can use the service but an account is currently mandatory. Free and paid searches are both available; free searches list charges found but do not show the area the charge extent covers, while paid searches generate a PDF (JSON, CSV or XML are also available) with all charge and extent information which is then saved for 6 months and can be repeated in that time for free.</p>

      <p><a href="https://search-local-land-charges.service.gov.uk/">View the search service</a>.</p>




      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      <h2 class="govuk-heading-m">
        Feature prototypes
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="search/">Searching for a charge</a></li>
        {# <li><a href=""></a></li> #}
      </ul>

    </div>
  </div>
{% endblock %}
