{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
	  items: [
	    {
	      text: "LLC prototypes",
	      href: "/"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maintain prototypes
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">Maintain is a non-public service, available only to invited users. It is further split into &lsquo;admins&rsquo; and &lsquo;users&rsquo;, with only admins able to undertake account management.</p>

      <p>HMLR admins have a great many more flows available to them within the service; from Official Searches to Finding Search Information. Most of these flows are present to assist with customer issues, data investigation, updating charge categories, or other such tasks. </p>

      <p><a href="#0">View the maintain service</a>.</p>




      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      <h2 class="govuk-heading-m">
        Feature prototypes
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="threshold/">Set local authority register amendment threshold</a></li>
        <li><a href="userprofiles/">User profiles</a></li>
        {# <li><a href=""></a></li> #}
      </ul>

    </div>
  </div>
{% endblock %}
