{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'search'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{ data['search'] }} is not included on the register yet
        </h1>

        <p>To find charges for your area contact <a href="#0">Bedfordshire City Council</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Other ways to find a charge
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
            <li><a href="#0">Search by browsing to a place using a map</a></li>
            <li>Contact us on 0300 006 0444 if you are struggling to use this service</li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
