{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-phase-banner">
<p class="govuk-phase-banner__content">
  <strong class="govuk-tag govuk-tag--pink">
    prototype
  </strong>
  <span class="govuk-phase-banner__text">
    This is not a full service. It is not production code and you might experience problems.
  </span>
</p>
</div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">

          <span class="govuk-caption-xl">Dataset</span>
    <h1 class="govuk-heading-xl">Local land charges spatial data (INSPIRE)</h1>

        </div>
      </div>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <p>Contents</p>
              <ul class="govuk-list">
              <li>
                - <a class="govuk-link" href="">The dataset</a>
              </li>
              <li>
                - <a class="govuk-link" href="">How can you use the data</a>
              </li>
              <li>
                - <a class="govuk-link" href="">Access the data</a>
              </li>
              <li>
                - <a class="govuk-link" href="">Contact us</a>
              </li>
            </ul>
            </div>

            <div class="govuk-grid-column-two-thirds">

              <p class="govuk-heading-l">The dataset </p>
              <div class="govuk-grid-row">
                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This is an open-source dataset, developed to follow the <a class="govuk-link" href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=OJ%3AL%3A2007%3A108%3ATOC">INSPIRE Directive</a>.</p>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The dataset uses spatial data from HM Land Registry’s local land charges register. It shows the indicative locations of local land charges in England and Wales. These are the charges which form part of a category group in the <a class="govuk-link" href="https://inspire.ec.europa.eu/theme">Inspire themes register</a>.</p>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We currently migrating local land charge data from local authorities. This means not all local authority areas are available on our service yet.</p>

                </div>





                <p class="govuk-heading-m">About INSPIRE polygons </p>
                <div class="govuk-grid-row">
                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Each polygon has a unique identification number called an INSPIRE ID. You can use an INSPIRE ID to
 <a class="govuk-link" href="https://search-local-land-charges.service.gov.uk/">Search for a local land charge</a>.</p>

 <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Each local land charge will have a polygon associated with it and may have more than one.
</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Polygons divide into separate data files for each local authority area. If a polygon is on the boundary between local authorities, it will appear in both data files.</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">To find out the definitive extent of land in a local land charge, you need to inspect the source documents. The originating authority will hold these.</p>

<div class="govuk-!-padding-bottom-5"></div>

<p class="govuk-heading-l govuk-!-margin-left-3">How you can use the data </p>
<p class="govuk-heading-m govuk-!-margin-left-3">Conditions of use </p>

    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This dataset is available for use and reuse under the
<a class="govuk-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL)</a>. This licence enables public bodies to make their data available free of charge for reuse.</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Use under the OGL is free. If you fail to comply with any of the conditions of the OGL, then the rights granted to you under the licence will end automatically.</p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Under the OGL, when reusing the data, you must acknowledge the source of the data. and include the following attribution statement:
</p>

{# <blockquote class="noquotes">
  <p class="govuk-body govuk-body">This information is subject to Crown copyright and database rights 2020 and is reproduced with the permission of HM Land Registry.</p>
</blockquote> #}

<p class="govuk-!-margin-left-3"> <img src="/public/images/quote1.png" alt="quote" style="width:100%"> </p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">If you are reusing the polygons (including the associated geometry, namely x, y co-ordinates), you must also display the following Ordnance Survey attribution statement:</p>

<p class="govuk-!-margin-left-3"> <img src="/public/images/quote2.png" alt="quote" style="width:100%"> </p>

<p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Where possible, <a class="govuk-link" href="https://use-land-property-data.service.gov.uk/datasets/inspire/#conditions">you must provide a link</a> to these conditions.</p>


<div class="govuk-!-padding-bottom-5"></div>



<p class="govuk-heading-l govuk-!-margin-left-3">Access the data </p>
    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The dataset updates on the sixth of each month and shows data from the previous month. For example, data published in April will contain data from March.</p>

    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">You will be able to access the data until we publish new data the following month.</p>

    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">The files are published as GML files. You will need a Geographical Information System (GIS) to view downloaded polygons.</p>

    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">GIS will enable you to store or edit downloaded data. You can then compare or integrate with other available datasets.</p>

    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3"> <a class="govuk-link" href="https://use-land-property-data.service.gov.uk/">Read the guidance on using GML format files.</a></p>
    <button class="govuk-button govuk-!-margin-left-3" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='download-inspire.html'">Access data</button>



    <p class="govuk-heading-l govuk-!-margin-left-3">Contact us </p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Telephone</p>

        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Telephone: 0300 006 0444 <br>Monday to Friday, 9am to 5pm</p>

        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3"></p>

        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3"> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Email</p>

        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3"> <a class="govuk-link" href="0">SPITeam@landregistry.gov.uk</a> <br>We aim to respond within 2 working days</p>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Address</p>

        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">HMLR Local Land Charges <br> Processing Team
<br>PO Box 326<br>Mitcheldean<br>GL14 9BQ</p>


    </div>



        </div>






        <div class="govuk-grid-column-one-third">


        </div>
      </div>
    </main>
  </div>
{% endblock %}
