{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row govuk-body">
    <div class=" govuk-grid-column-full govuk-!-padding-bottom-2" style="max-width: 890px;">

     <form action="010" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Find a user
      </h1>

      <p> You can search by name, authority or both.</p>



        <div style="display: inline-block;">
            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator-first-name">
                Name
                </label>
                <input class="govuk-input" id="administrator-first-name" name="administrator-first-name" value="{{ data['administrator-first-name'] }}" type="text" style="width: 300px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="administrator-family-name">
                    Authority
                </label>
                <input class="govuk-input" id="administrator-family-name" name="administrator-family-name" value="{{ data['administrator-family-name'] }}" type="text" style="width: 300px;">
            </div>

    <div>
        <button class="govuk-button" type="submit">Search</button>
    </div>

    </form>


    </div>



</div>


<script type="text/javascript">
  <!--
      function toggle_visibility(id) {
         var e = document.getElementById(id);
         if(e.style.display == 'block')
            e.style.display = 'none';
         else
            e.style.display = 'block';
      }
  //-->


  $('input[type="radio"]').click(function(){
      if($(this).attr("value")=="yes"){
          $(".content2").hide('display');
      }
      if($(this).attr("value")=="no"){
          $(".content2").show('display');

      }
  });


  </script>

{% endblock %}
