{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
	  items: [
	    {
	      text: "LLC prototypes",
	      href: "/"
	    },
      {
	      text: "Search prototypes",
	      href: "../"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Search for a Local Land Charge
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>The following prototypes reflect varying flows developed for user research on the end-to-end search service (Aug/Sept 2021)</p>

      <h2 class="govuk-heading-m">
        1. Sign in first
      </h2>
      {{ govukButton({
        text: 'View prototype',
        href: 'sign-in-first/start'
      }) }}

      <h2 class="govuk-heading-m">
        2. Check area first
      </h2>
      {{ govukButton({
        text: 'View prototype',
        href: 'check-area-first/start'
      }) }}

      <h2 class="govuk-heading-m">
        3. Confirm extent first
      </h2>
      {{ govukButton({
        text: 'View prototype',
        href: 'confirm-extent-first/start'
      }) }}

      <h2 class="govuk-heading-m">
        4. No confirm extent page - Sign in first
      </h2>
      {{ govukButton({
        text: 'View prototype',
        href: 'no-confirm-sign-in-first/start'
      }) }}

      <h2 class="govuk-heading-m">
        5. No confirm extent page - Sign in last
      </h2>

      {# <h3 class="govuk-heading-s">Changes</h3>
      <p>Based on conversations with the team the follow changes have been made:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>new link on landing page</li>
        <li>LA lookup on separate page</li>
        <li>if already set show edit version of the page with pre-filled values</li>
        <li>if disabled show time left and be able to turn off</li>
      </ul> #}

      {# <h3 class="govuk-heading-s">Research notes</h3>
      <p>Information about the research.</p>
      <p><a href="#0">View user research report</a>.<p> #}

      {# <h3 class="govuk-heading-s">Prototype notes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Adur District Council will show as thresholds disabled</li>
        <li>Bournemouth, Christchurch and Poole Council will show as thresholds set</li>
        <li>Any other LA will show as adding new thresholds</li>
      </ul> #}

      {{ govukButton({
        text: 'View prototype',
        href: 'no-confirm-sign-in-last/start'
      }) }}

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 2
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <p>The second round of recomendations were done by the previous designer, Chris A.</p>

            {{ govukButton({
              text: 'View prototype',
              href: 'v2/start'
            }) }}



          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 1
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <p>The initial round of recomendations were done by the previous designer, Ash O</p>

            {{ govukButton({
              text: 'View feedback slide deck',
              href: 'https://docs.google.com/presentation/d/1wDEABXNlojMy9CRSm7EIQ0QVnarmYX026YabJ-nrRRY/edit#slide=id.gbd37c5e0f2_0_119'
            }) }}

            {{ govukButton({
              text: 'View Prototype',
              href: 'v1'
            }) }}



          </div>
        </div>



    </div>
  </div>
{% endblock %}
