{% extends "layout.html" %}

{% set query = data['search'] or 'S10 4BG' %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'results'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Local land charge results
        </h1>

        <img src="/public/images/5456-knatchbull-results.png" alt="Search extent" style="height:300px">
        <figcaption  class="govuk-body-s">The dotted line shows the extent area you searched</figcaption>

        <div class="govuk-!-padding-bottom-4"></div>

        <p>There are <b>12 local land charges</b> for your extent area.</p>
        <p>Not the right area? <a href="search">Search again</a>.</p>



        <h2 class="govuk-heading-m">
          Planning
        </h2>
        <div class="govuk-accordion" data-module="govuk-accordion">
          {% for i in range(2, 100, 17) %}

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                <h3 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19">
                    LLC-F{{ range(1, 51) | random }}F{{ range(1, 51) | random }} &ndash; Conditional planning consent
                  </span>
                </h3>
              </div>
              <div class="govuk-accordion__section-content">
                {{ govukSummaryList({
                  classes: 'govuk-summary-list--no-border',
                  rows: [
                    {
                      key: {
                        text: 'Description'
                      },
                      value: {
                        text: 'Installation of a part timber, part glazed veranda to the rear ground floor and replacement of the existing ground windows with new timber double doors'
                      }
                    },
                    {
                      key: {
                        text: 'Originating authority'
                      },
                      value: {
                        text: 'London Borough of Lambeth'
                      }
                    },
                    {
                      key: {
                        text: 'Authority reference'
                      },
                      value: {
                        text: '17/04366/FUL'
                      }
                    },
                    {
                      key: {
                        text: 'Creation date'
                      },
                      value: {
                        text: today | date("subtract", i, "months") | date("D MMMM YYYY")
                      }
                    },
                    {
                      key: {
                        text: 'Registration date'
                      },
                      value: {
                        text: '08 January 2018'
                      }
                    },
                    {
                      key: {
                        text: 'Law'
                      },
                      value: {
                        html: 'Town and Country Planning Act 1990 section 70'
                      }
                    },
                    {
                      key: {
                        text: 'Legal document'
                      },
                      value: {
                        html: 'Planning permission'
                      }
                    }
                  ]
                }) }}

                {# {
                  key: {
                    text: 'Location'
                  },
                  value: {
                    text: '133, Warwick Road'
                  }
                },
                {
                  key: {
                    text: 'Category'
                  },
                  value: {
                    text: 'Planning - Conditional planning consent'
                  }
                },
                {
                  key: {
                    text: 'Description'
                  },
                  value: {
                    text: 'Change of use to 1 flats & 4 bedsits Approved subject to conditions'
                  }
                },
                {
                  key: {
                    text: 'HM Land Registry reference'
                  },
                  value: {
                    text: 'LLC-F9F8'
                  }
                }#}
              </div>
            </div>

          {% endfor %}

        </div>
        <h2 class="govuk-heading-m">
          Other
        </h2>
        <div class="govuk-accordion" data-module="govuk-accordion">
          {% for i in range(2, 100, 17) %}

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                <h3 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19">
                    LLC-F{{ range(1, 51) | random }}F{{ range(1, 51) | random }} &ndash; Smoke control order
                  </span>
                </h3>
              </div>
              <div class="govuk-accordion__section-content">
                {{ govukSummaryList({
                  classes: 'govuk-summary-list--no-border',
                  rows: [
                    {
                      key: {
                        text: 'Description'
                      },
                      value: {
                        text: 'Not provided'
                      }
                    },
                    {
                      key: {
                        text: 'Originating authority'
                      },
                      value: {
                        text: 'London Borough of Lambeth'
                      }
                    },
                    {
                      key: {
                        text: 'Authority reference'
                      },
                      value: {
                        text: 'SMOKE/1234'
                      }
                    },
                    {
                      key: {
                        text: 'Creation date'
                      },
                      value: {
                        text: today | date("subtract", i, "months") | date("D MMMM YYYY")
                      }
                    },
                    {
                      key: {
                        text: 'Registration date'
                      },
                      value: {
                        text: '08 January 2019'
                      }
                    },
                    {
                      key: {
                        text: 'Law'
                      },
                      value: {
                        html: 'Town and Country Planning Act 1990 section 70'
                      }
                    },
                    {
                      key: {
                        text: 'Legal document'
                      },
                      value: {
                        html: 'Planning permission'
                      }
                    }
                  ]
                }) }}

                {# {
                  key: {
                    text: 'Location'
                  },
                  value: {
                    text: '133, Warwick Road'
                  }
                },
                {
                  key: {
                    text: 'Category'
                  },
                  value: {
                    text: 'Planning - Conditional planning consent'
                  }
                },
                {
                  key: {
                    text: 'Description'
                  },
                  value: {
                    text: 'Change of use to 1 flats & 4 bedsits Approved subject to conditions'
                  }
                },
                {
                  key: {
                    text: 'HM Land Registry reference'
                  },
                  value: {
                    text: 'LLC-F9F8'
                  }
                }#}
              </div>
            </div>

          {% endfor %}
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Download an official search results for £15
        </h2>
        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Benefits of an official search
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class= "govuk-body-s">By purchasing an official search result from us, you’ll receive a document that:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <li>is secure and digitally signed by HM Land Registry</li>
          <li>highlights local land charges boundaries on a map</li>
          <li>enables you to get free, repeat searches for 6 months</li>
<li>includes a link to the source document</li>
        </ul>
        <img src="/public/images/v11.gif" alt="Example official copy of local land charges" style="margin-left: 65px;">
        <figcaption  class="govuk-body-s"><a href="#">Example official search results document</a></figcaption>

      </details>
      <button class="govuk-button" data-module="govuk-button" style="width:100%" onclick="window.location.href='singleaddress.html'">
        Pay now
      </button>
      </aside>

    </div>
  </div>
{% endblock %}
