{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'search'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l" style="margin-top: 40px;">Find an extent area by map</h1>
      <p class="govuk-body-m">To view a local land charge, you will need to identify a property or area of land. This is known as an extent area.</p>

      <div class="govuk-inset-text">
        Not all areas are available on our register yet. If you cannot find an area, contact your local authority for information about local land charge
      </div>
<p class="govuk-body-m"><p class="govuk-body-m">Use <b>‘Add area’</b> to draw an extent area on the map. You can also edit and delete areas.</p>
</p>

      <button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
          Search this area
    </button>

    <ul class="govuk-list">
  <li>
  <a class="govuk-link govuk-body-s" href="#">Learn more about how to use this map</a>
  </li>
  </ul>

  <p class="govuk-body-s">Use of address and mapping data (including the link between the address and it's location) is subject to <a href="editextent">Ordnance Survey License Terms and Conditions</a>.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <img src="/public/images/mapkey.png" alt="Map key" style="width:100%">
      <a href="searchbymap2"><img src="/public/images/searchbymap.png" alt="Confirm extent" style="width:100%"></a>




    </div>


  </div>
{% endblock %}
