{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}{{ govukBackLink({
    text: 'Back',
    href: 'results'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">The extent area searched is not on the register</h1>

      <p> Currently, we are migrating local land charges onto the register, at present not all local authorities have been migrated.</p>

      <p>If you believe this extent should be on the register or would like to verify this is not on the register you will need to draw an extent area for this address on the map.</p>

      <div class="govuk-inset-text">
        The full extent of the area drawn may not be on the register.
      </div>
      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='search.html'">Start a new search</button>
      <p> <a class="govuk-link" href="drawextent77">Draw extent</a> </p>


    </div>

    <div class="govuk-grid-column-two-thirds">
      {# <img src="/public/images/mapdialogue.png" alt="Confirm extent" style="width:100%"> #}
      <img src="/public/images/extent-notonregister-unavailable.png" alt="Confirm extent" style="width:100%">




    </div>


  </div>
{% endblock %}
