{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/lang-switcher.html" %}
  {{ govukBackLink({
    text: 'Back',
    href: 'search'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">Find your search area</h1>
      <p class="govuk-body-m"> Use this map to find the location you are looking for by drawing an extent around the area you want to search.</p>
      <p class="govuk-body-m"> You can use the map controls to edit, delete and clear all extents drawn. </p>

      <button class="govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='chargesbymap.html'">Search this area</button>

    <ul class="govuk-list">
  <li>
  <a class="govuk-link" href="#">Learn more about how to use this map</a>
  </li>
  </ul>

  <p class="govuk-body-s">Use of address and mapping data (including the link between the address and it's location) is subject to <a href="editextent">Ordenance Survey License Terms and Conditions</a>.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <img src="/public/images/mapkey.png" alt="Map key" style="width:100%">
      <img src="/public/images/searchbymap3.png" alt="Map Knatchbull Road" style="width:100%">




    </div>


  </div>
{% endblock %}
