{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
	  items: [
	    {
	      text: "LLC prototypes",
	      href: "/"
	    },
      {
	      text: "Migration helper prototypes",
	      href: "../"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Landing page
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Overview of feature.</p>

      <h2 class="govuk-heading-m">
        Version 1
      </h2>
      <p class="govuk-hint">Version 1 of this prototype, there is a live version too</p>

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Land Registry users were confused about which local authority (LA) they were currently signed in to, so we&rsquo;ve replaced the service name with the LA name. We&rsquo;ve also removed the other options on the page as they weren&rsquo;t usable.</p>

      {# <h3 class="govuk-heading-s">Research notes</h3>
      <p>Information about the research.</p>
      <p><a href="#0">View user research report</a>.<p> #}

      {{ govukButton({
        text: 'View prototype',
        href: 'v1/landing'
      }) }}






      {# {% set v1 %}
        <h3 class="govuk-heading-s">Changes</h3>
        <p>Information about this version.</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Information about the research.</p>
        <p><a href="#0">View user research report</a>.<p>

        {{ govukButton({
          text: 'View prototype',
          href: 'v1/page'
        }) }}
      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }} #}

    </div>
  </div>
{% endblock %}
