{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        What do you want to do?
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">



      <h2 class="govuk-heading-m">
        Manage charges
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Add a charge</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Add a charge on behalf of another organisation</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Find, update or cancel a charge</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Expired charges (3)</a></li>
        <li><a class="govuk-link--no-visited-state" href="set-amendment-threshold/select-la">Set, update or disable register amendment thresholds</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Official searches
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Perform an official search</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Repeat an official search</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">View an official search</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Send a payment link
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Send a payment link</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage users
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="add-user-profile/01">Add a new user</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Update an existing user</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage search service
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Find search information</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Manage banner messages</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage laws and categories
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Add a new law</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Edit or remove a law</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Add a new category</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Manage a category</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
