{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
	  items: [
	    {
	      text: "LLC prototypes",
	      href: "/"
	    },
      {
	      text: "Maintain prototypes",
	      href: "../"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        User profiles
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Overview of feature needs writing!</p>

      <h2 class="govuk-heading-m">
        Version 6
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Based on conversations with the team the following suggestions:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Swapped user detail page to first</li>
        <li>Narrowed down list of users based on inputted info</li>
        <li>Let authority selection conditionally reveal appropriate user profiles </li>
        <li>Additional personalisation</li>
        <li>Show the user the permissions</li>
        <li>Let the user request permissions</li>
        {# <li>email templates for notify and stop</li> #}
      </ul>

      <p>Due to limitations I have only created these additional functionalities for internal users adding internal (HMLR) users- <b> Data Manager user role</b>:</p>

      {# <h3 class="govuk-heading-s">Research notes</h3>
      <p>Information about the research.</p>
      <p><a href="#0">View user research report</a>.<p> #}
      {{ govukButton({
        text: 'View prototype',
        href: 'v12/dashboard'
      }) }}





      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 5
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <h3 class="govuk-heading-s">Changes</h3>
            <p>Based on conversations with the team the following suggestions:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Swapped user detail page to first</li>
              <li>Narrowed down list of users based on inputted info</li>
              <li>Let authority selection conditionally reveal appropriate user profiles </li>
              {# <li>email templates for notify and stop</li> #}
            </ul>

            <p>Due to limitations I have had to create different prototypes to showcase the different user journeys as below:</p>


            <h3 class="govuk-heading-s">For internal users adding internal (HMLR) users</h3>
            {{ govukButton({
              text: 'View prototype',
              href: 'v7/dashboard'
            }) }}

            <h3 class="govuk-heading-s">For internal users adding external (LA) users</h3>
            {{ govukButton({
              text: 'View prototype',
              href: 'v8/dashboard'
            }) }}

            <h3 class="govuk-heading-s">For internal users adding external (OOA) users</h3>
            {{ govukButton({
              text: 'View prototype',
              href: 'v9/dashboard'
            }) }}

            <h3 class="govuk-heading-s">For external users adding external (LA) users</h3>
            {{ govukButton({
              text: 'View prototype',
              href: 'v10/dashboard'
            }) }}

            <h3 class="govuk-heading-s">For external users adding external (00A) users</h3>
            {{ govukButton({
              text: 'View prototype',
              href: 'v11/dashboard'
            }) }}

          </div>
        </div>


        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 4
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <h3 class="govuk-heading-s">Changes</h3>
            <p>Based on conversations with the team the following suggestions:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Swapped user detail page to first</li>
              <li>Narrowed down list of users based on inputted info</li>
              {# <li>email templates for notify and stop</li> #}
            </ul>

            <p> <b> For internal users adding users <b> </p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v4/dashboard'
            }) }}

            <p> <b> For external users adding users <b> </p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v5/dashboard'
            }) }}

            <p> <b> Error message <b> </p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v6/dashboard'
            }) }}

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 3
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This version consists of selecting responsibilities for users</p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v3/dashboard'
            }) }}
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Version 2
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This version consists of conditional questions.</p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v2/dashboard'
            }) }}
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Version 1
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>This version consists of radio buttons</p>
            {{ govukButton({
              text: 'View prototype',
              href: 'v1/dashboard'
            }) }}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
