{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--pink">
          prototype
        </strong>
        <span class="govuk-phase-banner__text">
          This is not a full service. It is not production code and you might experience problems.
        </span>
      </p>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">

          {# <span class="govuk-caption-xl">Dataset</span> #}
          <h1 class="govuk-heading-xl govuk-!-margin-left-3">Accessibility statement for HM Land Registry – Local land charges, search service</h1>

        </div>
        <div class="govuk-grid-column-full-width">
          <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This accessibility statement is for the
            <a class="govuk-link" href="https://search-local-land-charges.service.gov.uk/">search for local land charges website</a>.
            <br>HM Land Registry manage this.</p>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p>Contents</p>
          <ul class="govuk-list">
            <li>
              -
              <a class="govuk-link" href="">How you can use this website</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">How accessible this website is</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">How to get information in an accessible format</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">Enforcement procedure</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">Technical information about this website's accessibility</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">Issues that do not meet accessibility regulations</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">How we tested this website</a>
            </li>
            <li>
              -
              <a class="govuk-link" href="">What we are doing to improve
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds">

          <p class="govuk-heading-l">How you can use this website</p>
          <div class="govuk-grid-row">
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">On this website you should be able to:
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 200% without the text spilling off the screen</li>
                <li>navigate most of the website using only a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of
                  <a class="govuk-link" href="0">JAWS (Job Access With Speech)</a>,
                  <a class="govuk-link" href="0">NVDA (NonVisual Desktop Access)</a>
                  and Voiceover</li>
              </ul>

              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We have made the website text as simple as possible to understand, aiming for a reading age of a 12-year-old. We only use technical terms where there is no easier wording to use without changing the meaning.</p>

              <div class="govuk-inset-text govuk-!-margin-left-3">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>
                has advice on making your device easier to use if you have a disability.</div>

              <p class="govuk-heading-l govuk-!-margin-left-3">How accessible this website is</p>
              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We run accessibility tests when a feature is new or changed. This means most of this website is fully accessible.</p>
              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We know the following parts are not accessible:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                  <li>users with keyboard-only control cannot access all features of the map</li>
                  <li>some screen readers and browsers may repeat, miss, or misread text on the page</li>
                  <li>HTML errors flagged on certain pages</li>
                  <li>some pages do not handle certain kinds of error messages</li>
                </ul>

                <p class="govuk-heading-l govuk-!-margin-left-3">How to get information in an accessible format</p>
                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We are always looking to improve the accessibility of this website.</p>

                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">You can contact us:</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                  <li>about any problems accessing information</li>
                  <li>to request information in a different format, such as audio recordings, braille or an accessible PDF</li>
                  <li>if you find any problems that are not listed on this page</li>
                  <li>to tell us how we are not meeting accessibility requirements</li>
                </ul>

                <div class="govuk-accordion govuk-!-margin-left-3" data-module="govuk-accordion" id="accordion-default">
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Online form
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <p class='govuk-body'>
                        <p class="govuk-body govuk-!-font-weight-regular">
                          <a class="govuk-link" href="https://customerhelp.landregistry.gov.uk/local-land-charges/">Use this form</a>
                          to ask for information about local land charges only.</p>
                        <p class='govuk-body'>
                          <p class="govuk-body govuk-!-font-weight-regular">We aim to get back to you in 5 working days.</p>
                        </div>
                      </div>
                      <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                              Telephone
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                          <p class='govuk-body'>
                            <p class="govuk-body govuk-!-font-weight-regular">Telephone: 0300 006 0444
                              <br>

                              Monday to Friday, 9am to 5pm (except public holidays)</p>

                            <p class='govuk-body'>
                              <p class="govuk-body govuk-!-font-weight-regular">Welsh language: 0300 006 0422<br>

                                Monday to Friday, 8:30am to 5pm (except public holidays)</p>

                              <p class='govuk-body'>
                                <p class="govuk-body govuk-!-font-weight-regular">We can also provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
                                </p>

                              </div>
                            </div>

                          </div>

                          <p class="govuk-heading-l govuk-!-margin-left-3">Enforcement procedure</p>
                          <div class="govuk-grid-row govuk-!-margin-left-3">
                            <p class="govuk-body govuk-!-font-weight-regular">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you are not happy with how we respond to your complaint,
                              <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
                          </div>

                          <div class="govuk-!-padding-bottom-4"></div>

                          <p class="govuk-heading-l govuk-!-margin-left-3">Technical information about this website's accessibility</p>
                          <div class="govuk-grid-row govuk-!-margin-left-3">
                            <p class="govuk-body govuk-!-font-weight-regular">HM Land Registry commit to making its website accessible, in accordance with
                              <a class="govuk-link" href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.
                            </p>
                            <p class="govuk-body govuk-!-font-weight-regular">This website is partially compliant with the
                              <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1
                              </a>AA standard, due to the following non-compliances.</p>
                          </div>
                          <div class="govuk-!-padding-bottom-4"></div>
                          <p class="govuk-heading-l govuk-!-margin-left-3">Issues that do not meet accessibility regulations</p>
                          <p class="govuk-heading-m govuk-!-margin-left-3">Issues with error messages</p>
                          <p class="govuk-!-margin-left-3">
                            <img src="/public/images/quote4.png" alt="quote" style="width:100%">
                          </p>
                          <p class="govuk-heading-m govuk-!-margin-left-3">How we will fix it</p>
                          <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We are investigating this issue. We will aim to fix it as soon as possible.</p>
                          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3">
                          <p class="govuk-heading-m govuk-!-margin-left-3">Issues with HTML errors</p>
                          <p class="govuk-!-margin-left-3">
                            <img src="/public/images/quote5.png" alt="quote" style="width:100%">
                          </p>
                          <p class="govuk-heading-m govuk-!-margin-left-3">How we will fix it</p>
                          <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We are investigating this issue. We will aim to fix it as soon as possible.</p>
                          <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Users should still be able to:
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                              <li>navigate most of the website with speech recognition software</li>
                              <li>listen to most of the website with a screen reader</li>
                            </ul>
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3">
                            <p class="govuk-heading-m govuk-!-margin-left-3">Issues with using Google Chrome and the Apple voiceover feature</p>
                            <p class="govuk-!-margin-left-3">
                              <img src="/public/images/quote6.png" alt="quote" style="width:100%">
                            </p>
                            <p class="govuk-heading-m govuk-!-margin-left-3">How we will fix it</p>
                            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Currently this issue is not in the scope of the accessibility regulations.</p>
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3">
                            <p class="govuk-heading-m govuk-!-margin-left-3">Issues accessing all features of the map</p>
                            <p class="govuk-!-margin-left-3">
                              <img src="/public/images/quote7.png" alt="quote" style="width:100%">
                            </p>
                            <p class="govuk-heading-m govuk-!-margin-left-3">How we will fix it</p>
                            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Currently this issue is not in the scope of the accessibility regulations.</p>
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3">
                            <p class="govuk-heading-m govuk-!-margin-left-3">Issues with users who cannot draw a search extent with
                              <br>a keyboard</p>
                            <p class="govuk-!-margin-left-3">
                              <img src="/public/images/quote8.png" alt="quote" style="width:100%">
                            </p>
                            <p class="govuk-heading-m govuk-!-margin-left-3">How we will fix it</p>
                            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Currently this issue is not in the scope of the accessibility regulations. We have provided alternative features to help users. For example, uploading a shapefile with pre-drawn extents.</p>
                            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We can also help through our assisted digital service:</p>
                            <p class='govuk-body'>
                              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">
                                <b>Telephone</b><br>Telephone: 0300 006 0444<br>
                                Monday to Friday, 9am to 5pm (except public holidays)</p>
                              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-left-3">
                              <p class="govuk-heading-l govuk-!-margin-left-3">How we tested this website</p>
                              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">We tested this website on 1 July 2020. This includes our PDF documents, available as a download through Official Searches.</p>
                              <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Our internal audit team take care of all testing. Tools we use are:
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                                  <li>internal testing against the W3C WAI Web Content Accessibility Guidelines version 2.1</li>
                                  <li>logging all results and defects in Quality Center</li>
                                  <li>WAVE evaluation to check for contrast detection, heading, legend and label checks</li>
                                  <li>W3C Markup Validation Service (for HTML validation)</li>
                                  <li>Web Developer devices to disable JavaScript and check table layout, links, field sets and images with alt text</li>
                                  <li>Dragonspeak and JAWS screen readers</li>
                                  <li>PAC3 (PDF Accessibility Checker 3) automated devices, to assess PDF accessibility compliance</li>
                                </ul>

                                <p class="govuk-heading-l govuk-!-margin-left-3">What we are doing to improve</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">When we change or add a new feature the website goes through accessibility testing. If we identify any issues, we will aim to fix them as soon as possible.</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This statement was prepared on 1 July 2020. It was last updated on 19 October 2022.</p>

                                {# <div class="govuk-grid-row">
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">HM Land Registry commit to making its website accessible, <a class="govuk-link" href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>. </p>
            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a>AA standard, due to the non-compliances listed below.</p> #}

                                {# <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Area management, Restrictions, Regulation zones and Reporting units</p>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This theme covers areas under an environmental policy or activity impacting the environment.</p>

                  <p class="govuk-body govuk-!-margin-left-3">Policies include:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                    <li>reducing pollution levels </li>
                    <li>conserving natural resources</li>
                    <li>protecting plant, animal, and human health</li>
                    <li>controlling development</li>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Local land charges which form part of this theme group include smoke control orders.</p>

                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Land use</p>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">This theme covers the use and functions of a territory and its description of land. This depends on its socio-economic and ecological purpose.</p>

                  <p class="govuk-body govuk-!-margin-left-3">The 2 types of land use are:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                    <li>The existing land use, which outlines the use and functions as they are now</li>
                    <li>The planned land use, defined by spatial planning authorities to outline ways to use the land</li>

                  </ul>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Local land charges which form part of this theme group include Legal agreements as to the use of land, and Tree Preservation Orders.</p>

                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-left-3">Protected sites</p>

                  <p class="govuk-body govuk-!-margin-left-3">This theme focuses on the specific conservation of designated areas of land or sea. It protects and maintains:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                    <li>listed buildings </li>
                    <li>biological diversity</li>
                    <li>conservation areas</li>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-left-3">Local land charges which form part of these theme group include Ancient Monuments and Sites of Special Scientific Interest.</p> #}

                              </div>

                              <div class="govuk-grid-column-one-third"></div>
                            </div>
                          </main>
                        </div>
                      {% endblock %}
