{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Migration dashboard
      </h1>
    </div>

    <div class="govuk-grid-column-full">



      <h2 class="govuk-heading-m">
        Spatial data
      </h2>
      <div class="govuk-width-container">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Missing spatial data- matching candidates found
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">

              {{ govukButton({
                html: 'All items fixed'
              }) }}

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>





      <h2 class="govuk-heading-m">
        Official searches
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Perform an official search</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Repeat an official search</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">View an official search</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Send a payment link
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Send a payment link</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage users
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Add a new user</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Update an existing user</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage search service
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Find search information</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Manage banner messages</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Manage laws and categories
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#0">Add a new law</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Edit or remove a law</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Add a new category</a></li>
        <li><a class="govuk-link--no-visited-state" href="#0">Manage a category</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
