{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Add a user</h1>
    </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <form class="form" action="03" method="post">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <div>
                  <h3 class="govuk-heading-m">Select {{ data['administrator-first-name'] }} {{ data['administrator-family-name'] }}'s user profile
                  </h3>
               </div>
               <div class="govuk-radios" id="myRadioGroup">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="A" id="Q1A">
                     <label class="govuk-label govuk-radios__label" for="Q1A">
                     Local authority (LA) admin
                     </label>
                     <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    LA user with management functionality
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="B" id="Q1B">
                     <label class="govuk-label govuk-radios__label" for="Q1B">
                     Local authorirty (LA) user
                     </label>
                     <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    LA user
                    </div>
                  </div>

               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>


                 <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
                     <button class="govuk-button" type="submit" onclick="window.location.href='03.html'">Continue</button>
                 </div>
</div>

<script>
   $(document).ready(function() {
       $("input[name$='question1']").click(function() {
           var test = $(this).val();

           $("div.desc").hide();
           $("#question1" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question2']").click(function() {
           var test = $(this).val();

           $("div.desc2").hide();
           $("#question2" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question3']").click(function() {
           var test = $(this).val();

           $("div.desc3").hide();
           $("#question3" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question4']").click(function() {
           var test = $(this).val();

           $("div.desc4").hide();
           $("#question4" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question5']").click(function() {
           var test = $(this).val();

           $("div.desc5").hide();
           $("#question5" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question6']").click(function() {
           var test = $(this).val();

           $("div.desc6").hide();
           $("#question6" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question7']").click(function() {
           var test = $(this).val();

           $("div.desc7").hide();
           $("#question7" + test).show();
       });
   });


   $(document).ready(function() {
       $("input[name$='question8']").click(function() {
           var test = $(this).val();

           $("div.desc8").hide();
           $("#question8" + test).show();
       });
   });


   $(document).ready(function() {
       $("input[name$='question9']").click(function() {
           var test = $(this).val();

           $("div.desc9").hide();
           $("#question9" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question10']").click(function() {
           var test = $(this).val();

           $("div.desc10").hide();
           $("#question10" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question11']").click(function() {
           var test = $(this).val();

           $("div.desc11").hide();
           $("#question11" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question12']").click(function() {
           var test = $(this).val();

           $("div.desc12").hide();
           $("#question12" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question13']").click(function() {
           var test = $(this).val();

           $("div.desc13").hide();
           $("#question13" + test).show();
       });
   });

   $(document).ready(function() {
       $("input[name$='question14']").click(function() {
           var test = $(this).val();

           $("div.desc14").hide();
           $("#question14" + test).show();
       });
   });

</script>


<style>
   .desc {
   display:none;
   }
   .desc2 {
   display:none;
   }
   .desc3 {
   display:none;
   }
   .desc4 {
   display:none;
   }
   .desc5 {
   display:none;
   }
   .desc6 {
   display:none;
   }
   .desc7 {
   display:none;
   }
   .desc8 {
   display:none;
   }
   .desc9 {
   display:none;
   }
   .desc10 {
   display:none;
   }
   .desc11 {
   display:none;
   }
   .desc12 {
   display:none;
   }
   .desc13 {
   display:none;
   }
   .desc14 {
   display:none;
   }


</style>


{% endblock %}
