{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<a href="01.html" class="govuk-back-link">Back</a>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Confirm details
    </h1>
  </legend>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['administrator-first-name'] }} {{ data['administrator-family-name'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['administrator-email'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Authority
    </dt>
    <dd class="govuk-summary-list__value">
      HM Land Registry
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact information</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Role
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Data Manager</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Permissions
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Manage charges <br>Manage users <br>Manage migration data <br>Manage search service</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="04">
        See full permissions<span class="govuk-visually-hidden"></span>
      </a>
    </dd>
  </div>
</dl>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Can you provide more detail of the additional permissions your user requires?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Your request will be forwarded to the appropriate HMLR colleague who will consider your request. It will also be considered for the development of user profiles and automatic permissions.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<div class=" govuk-grid-column-full" style="padding:0px 0px 0px 0px;">
              <button class="govuk-button govuk-button" data-module="govuk-button" data-module="govuk-button" onclick="window.location.href='08.html'">
                  Send request
              </button>
            </div>




</fieldset>

  </main>
</div>
</div>


</div>


{% endblock %}
